.lkt-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lkt-loader {
    display: inline-block;
    width: var(--loader-outer-size);
    height: var(--loader-outer-size);
}
.lkt-loader:after {
    content: " ";
    display: block;
    width: var(--loader-inner-size);
    height: var(--loader-inner-size);
    border-radius: 50%;
    border: 6px solid var(--loader-color);
    border-color: var(--loader-color) transparent var(--loader-color) transparent;
    animation: lkt-loader 1.2s linear infinite;
}
@keyframes lkt-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}