.lkt-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lkt-spinner {
    display: inline-block;
    width: var(--lkt-spinner-outer-size);
    height: var(--lkt-spinner-outer-size);
}
.lkt-spinner:after {
    content: " ";
    display: block;
    width: var(--lkt-spinner-inner-size);
    height: var(--lkt-spinner-inner-size);
    border-radius: var(--lkt-loader-border-radius);
    border: var(--lkt-loader-border-width) var(--lkt-loader-border-style) var(--lkt-spinner-color);
    border-color: var(--lkt-spinner-color) transparent var(--lkt-spinner-color) transparent;
    animation: lkt-spinner var(--lkt-loader-animation-duration) var(--lkt-loader-animation-function) infinite;
}
@keyframes lkt-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}