:root {
    --lkt-loader--outer--size: 80px;
    --lkt-loader--inner--size: 64px;
    --lkt-loader--border-radius: 50%;
    --lkt-loader--border-width: 6px;
    --lkt-loader--border-style: solid;
    --lkt-loader--color: #007ebc;
    --lkt-loader--animation-duration: 1.2s;
    --lkt-loader--animation-function: linear;

    /** Element: Spinner */
    --lkt-spinner--outer--size: 25px;
    --lkt-spinner--inner--size: 25px;
    --lkt-spinner--color: #007ebc;
}